<h1>詳細画面</h1>
<p id="notice"><%= notice %></p>
<p>内容: <%= @picture.content %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
</p>

<%= link_to '編集', edit_picture_path(@feed) %>
<%= link_to '一覧へ戻る', pictures_path %>
